.Rproj.user
.Rhistory
.RData
.Ruserdata
AnalyzingWesRAW.nb.html
AGE11-validation1.Rproj
May-Notebook2.nb.html
June2018.nb.html
June2018.utf8.md

*.html

*.Rproj

rsconnect/documents/RegionalCorrelations1\.Rmd/rpubs\.com/rpubs/

rsconnect/documents/RegionalCorrelations2\.Rmd/rpubs\.com/rpubs/
